.mainContainer{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.navbarContainer{
    display: none;
}
.namelogoContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
}



@media(min-width:40rem) {

}

@media(min-width:64rem) {
    .navbarContainer{
        display: flex;
    }

}