.mainContainer{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.navbarContainer{

}
.namelogoContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
}
